@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/


.custom-btn {
    @apply w-[130px] h-10 text-white font-medium cursor-pointer transition-all duration-[0.3s] ease-[ease] relative inline-block shadow-[inset_2px_2px_2px_0px_rgba(255,255,255,0.5),7px_7px_20px_0px_rgba(0,0,0,0.1),4px_4px_5px_0px_rgba(0,0,0,0.1)] px-[25px] py-2.5 rounded-[5px];
    font-family: "Lato", sans-serif;
    background: transparent;
    outline: none;
  }
  .btn-3 {
    @apply w-[130px] h-10 leading-[42px] p-0 border-[none] before:h-[0%] before:w-0.5 after:w-[0%] after:h-0.5 hover:shadow-none hover:before:h-full hover:after:w-full;
    background: rgb(0, 172, 238);
    background: linear-gradient(
      0deg,
      rgba(0, 172, 238, 1) 0%,
      rgba(2, 126, 251, 1) 100%
    );
  }
  .btn-3 span {
    @apply relative block w-full h-full hover:text-[rgba(2,126,251,1)] before:w-0.5 before:h-[0%] after:w-[0%] after:h-0.5 hover:before:h-full hover:after:w-full;
  }
  .btn-3:before,
  .btn-3:after {
    @apply absolute content-[""] transition-all duration-[0.3s] ease-[ease] right-0 top-0;
    background: rgba(2, 126, 251, 1);
  }
  .btn-3:hover {
    background: transparent;
  }
  .btn-3 span:before,
  .btn-3 span:after {
    @apply absolute content-[""] transition-all duration-[0.3s] ease-[ease] left-0 bottom-0;
    background: rgba(2, 126, 251, 1);
  }
  